

<header >
    <md-toolbar class='md-medium-tall'>
        <div class="md-toolbar-tools"  >
            <h1 >Login With Social Network</h1>

        </div>
    </md-toolbar>
</header>
<br/>
<br/>
<md-content ng-controller="loginCtrl" >
    <div layout="row" layout-align="center" >
        <img src="img/smile.jpg" >

    </div>
    <br>
    <br>
    <div layout="row" layout-align="center">
        <md-button class="md-raised md-primary" ng-click="loginfb()">Login With FaceBook</md-button>
    </div>
</md-content>
